<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyHelloAppleWatchApp WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyHelloAppleWatchApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3289AA51AFE9A7D003C9253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3289ABE1AFE9A7E003C9253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3289ADD1AFE9A95003C9253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
